@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Bienvenido</h1>
	<p>Elije la aplicación a la que quieras acceder:</p>
	<div class="d-flex justify-content-center gap-3">
		<a class="btn btn-primary btn-lg" asp-area="TrackingComercial" asp-controller="Home" asp-action="Index">Tracking Comercial</a>
		<a class="btn btn-primary btn-lg" asp-area="MapeoSobrestock" asp-controller="Home" asp-action="Index">Mapeo Sobrestock</a>
	</div>
</div>
