<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tracking Comercial</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AppsTigreUruguay.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="TrackingComercial" asp-controller="Home" asp-action="Index">Tracking Comercial</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @{
                            var usuario = Context.Session.GetString("UsuarioTrackingComercial");
                            if (string.IsNullOrEmpty(usuario))
                            {
                                // Usuario no logueado
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="TrackingComercial" asp-controller="Home" asp-action="Login">Iniciar sesión</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="TrackingComercial" asp-controller="Home" asp-action="Register">Registrar Usuario</a>
                                </li>
                            }
                            else
                            {
                                // Usuario logueado
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="TrackingComercial" asp-controller="Reporte" asp-action="Index">Reporte</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="TrackingComercial" asp-controller="Factura" asp-action="UploadExcel">Cargar Excel</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="TrackingComercial" asp-controller="Home" asp-action="Logout">Cerrar sesión</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - TI Uruguay
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
